# lib loading

In [1]:
from JJcalc import *
from si_prefix import si_format
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, Markdown, Latex
pd.set_option('precision', 2)

# List of devices

In [2]:
# wet oxigen 201 torr, 15min. Recorded on 191120, dep by Plamen, skip RIE by wsLu. dim corrected by SEM
print('\nHero device: D074N4, $R_N = 21k\Omega, E_J = 2.8K, E_C = 9.7mK$ \n')

key =    [ 'Device' , 'RN/al', '#ser', '#par',         'J size','Mat.','dsgn', 'Vo/al','ISW' ,'R0ZF' ,'R0FF' , 'BT' ]
unit=    ['       ' ,   'ohm',   'ea',   'ea',            'm^2',    '',    '',     'V',  'A' , 'ohm' , 'ohm' ,  'K' ]
lst =   [['D074N9'  ,   768e3,    15 ,      2,  .275 * .257e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D074N1'  ,   100e3,     1 ,      2,  .211 * .204e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D074N2'  ,   730e3,    15 ,      2,  .264 * .254e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D074N3'  ,   329e3,    15 ,      2,  .722 * .285e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D074N4'  ,  21.7e3,     9 ,      2,  1.08 * 1.77e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D074N5'  ,  2.21e3,    15 ,      2,   2.2 *  2.2e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D074N6'  ,  1.59e3,     1 ,      2,   2.2 *  2.2e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D074N7'  ,   350e3,    15 ,      2,  .265 * .288e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D074N8'  ,    29e3,    15 ,      2,  1.04 * 1.71e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D074N0'  ,  1.63e3,    15 ,      2,   2.2 *  2.2e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan]]
         
Q1Dlst =   pd.DataFrame(  data  = list(zip(*lst)), 
                        columns = [[dev[i] for dev in lst] for i in range(len(lst[0]))][0],
                          index = key ).transpose()
Q1Duni =   dict(zip(key, unit))
JJplst = toJJplst(srclst = Q1Dlst)[0]

with open(r'D074.csv','w') as f:
    JJplst.to_csv(f)
with open(r'D074.csv','r') as f:
    a = pd.read_csv(f).transpose().drop('Unnamed: 0').transpose()
a

# print('D074 site9: \n'+JJparameters(RN= 768e3/ 8, JJwidthUM=np.sqrt( .275 *  .257), metalTHK=250E-10, Tc=1.34)+'\n')#ox 8.06
# print('D074 site1: \n'+JJparameters(RN= 100e3/.5, JJwidthUM=np.sqrt( .211 *  .204), metalTHK=250E-10, Tc=1.34)+'\n')#ESD damaged, 1e3 now
# print('D074 site2: \n'+JJparameters(RN= 730e3/ 8, JJwidthUM=np.sqrt( .264 *  .254), metalTHK=250E-10, Tc=1.34)+'\n')#ox 7.30
# print('D074 site3: \n'+JJparameters(RN= 329e3/ 7, JJwidthUM=np.sqrt( .722 *  .285), metalTHK=250E-10, Tc=1.34)+'\n')#ox 9.39
# print('D074 site4: \n'+JJparameters(RN=21.7e3/ 4.5, JJwidthUM=np.sqrt( 1.08 *  1.77), metalTHK=250E-10, Tc=1.34)+'\n')#ox 5.37
# print('D074 site5: \n'+JJparameters(RN=2.21e3/ 8, JJwidthUM=np.sqrt(  2.2 *   2.2), metalTHK=250E-10, Tc=1.34)+'\n')#secondary short
# print('D074 site6: \n'+JJparameters(RN=1.59e3/.5, JJwidthUM=np.sqrt(  2.2 *   2.2), metalTHK=250E-10, Tc=1.34)+'\n')#secondary short
# print('D074 site7: \n'+JJparameters(RN= 350e3/ 8, JJwidthUM=np.sqrt( .265 *  .288), metalTHK=250E-10, Tc=1.34)+'\n')#meas error? 104e3 now
# print('D074 site8: \n'+JJparameters(RN=  29e3/ 8, JJwidthUM=np.sqrt( 1.04 *  1.71), metalTHK=250E-10, Tc=1.34)+'\n')#meas error? 8.8e3 now
# print('D074 site0: \n'+JJparameters(RN=1.63e3/ 8, JJwidthUM=np.sqrt(  2.2 *   2.2), metalTHK=250E-10, Tc=1.34)+'\n')#secondary short

Hero device: D074N4, $R_N = 21k\Omega, E_J = 2.8K, E_C = 9.7mK$

,Device,RN_JJ,Rs/JJ,I_AB,EJ,C_JJQP,EC,$\omega_p$,Q,beta,EJ/EC
0,D074N9,1e+02,8.6,3.1,0.074,4.2,0.22,48,9.6e+02,9.3e+05,0.34
1,D074N1,2e+02,11,1.6,0.038,2.7,0.35,43,72,5.1e+03,0.11
2,D074N2,97,7.8,3.3,0.078,4,0.23,50,9.2e+02,8.4e+05,0.34
3,D074N3,44,10,7.3,0.17,11,0.081,44,1e+03,1.1e+06,2.1
4,D074N4,4.8,9.6,66,1.6,99,0.0094,45,6.1e+02,3.7e+05,1.7e+02
5,D074N5,0.29,1.5,1.1e+03,26,2.5e+02,0.0038,1.2e+02,4e+02,1.6e+05,6.9e+03
6,D074N6,3.2,16,1e+02,2.4,2.5e+02,0.0038,35,87,7.6e+03,6.4e+02
7,D074N7,47,4.2,6.9,0.16,4.5,0.21,68,6.7e+02,4.5e+05,0.79
8,D074N8,3.9,7.1,83,2,92,0.01,52,8.8e+02,7.7e+05,2e+02
9,D074N0,0.22,1.1,1.5e+03,35,2.5e+02,0.0038,1.3e+02,3.4e+02,1.2e+05,9.3e+03

In [60]:
# wet oxigen 201 torr, 15min. Recorded on 191120
# Device depositied after D074 by Plamen

key =    [ 'Device' , 'RN/al', '#ser', '#par',         'J size','Mat.','dsgn', 'Vo/al','ISW' ,'R0ZF' ,'R0FF' , 'BT' ]
unit=    ['       ' ,   'ohm',   'ea',   'ea',            'm^2',    '',    '',     'V',  'A' , 'ohm' , 'ohm' ,  'K' ]
lst =   [['unlbN9'  ,   372e3,    15 ,      2,  .275 * .257e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['unlbN1'  ,  47.7e3,     1 ,      2,  .211 * .204e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['unlbN8'  ,    10e3,    15 ,      2,  .982 * 1.71e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['unlbN0'  ,    71e3,    15 ,      2,  2.21 * 1.53e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan]]
         
Q1Dlst =   pd.DataFrame(  data  = list(zip(*lst)), 
                        columns = [[dev[i] for dev in lst] for i in range(len(lst[0]))][0],
                          index = key ).transpose()
Q1Duni =   dict(zip(key, unit))
JJplst = toJJplst(srclst = Q1Dlst)[0]

with open(r'unlb.csv','w') as f:
    JJplst.to_csv(f)
with open(r'unlb.csv','r') as f:
    a = pd.read_csv(f).transpose().drop('Unnamed: 0').transpose()
a

,Device,RN_JJ,Rs/JJ,I_AB,EJ,C_JJQP,EC,$\omega_p$,Q,beta,EJ/EC
0,unlbN9,46,3.9,6.9,0.16,4.2,0.22,11,1.1e+02,1.2e+04,0.74
1,unlbN1,95,5.1,3.4,0.08,2.7,0.35,9.8,7.9,62,0.23
2,unlbN8,1.2,2.2,2.6e+02,6.1,87,0.011,15,82,6.8e+03,5.7e+02
3,unlbN0,8.9,31,36,0.86,1.7e+02,0.0054,4,3.1e+02,9.6e+04,1.6e+02

In [62]:
#D078 wet oxygen 375 torr, 30min. Recorded on 191121, dep by Plamen. dim corrected by SEM
display(Markdown('Hero device: D078N5, $R_N = 18k\Omega, E_J = 427mK, E_C = 4.8mK$ \n'))

key =    [ 'Device' , 'RN/al', '#ser', '#par',         'J size','Mat.','dsgn', 'Vo/al','ISW' ,'R0ZF' ,'R0FF' , 'BT' ]
unit=    ['       ' ,   'ohm',   'ea',   'ea',            'm^2',    '',    '',     'V',  'A' , 'ohm' , 'ohm' ,  'K' ]
lst =   [['D078N5'  , 142.6e3,    15 ,      2,  2.23 * 1.73e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D078N6'  ,  10.4e3,     1 ,      2,  2.24 * 1.61e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D078N8'  ,   315e3,    15 ,      2,  1.44 * 1.17e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D078N0'  , 147.5e3,    15 ,      2,  2.28 * 1.69e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan]]
         
Q1Dlst =   pd.DataFrame(  data  = list(zip(*lst)), 
                        columns = [[dev[i] for dev in lst] for i in range(len(lst[0]))][0],
                          index = key ).transpose()
Q1Duni =   dict(zip(key, unit))
JJplst = toJJplst(srclst = Q1Dlst)[0]

with open(r'D078.csv','w') as f:
    JJplst.to_csv(f)
with open(r'D078.csv','r') as f:
    a = pd.read_csv(f).transpose().drop('Unnamed: 0').transpose()
a

Hero device: D078N5, $R_N = 18k\Omega, E_J = 427mK, E_C = 4.8mK$

,Device,RN_JJ,Rs/JJ,I_AB,EJ,C_JJQP,EC,$\omega_p$,Q,beta,EJ/EC
0,D078N5,18,71,18,0.43,2e+02,0.0047,2.6,4.7e+02,2.2e+05,91
1,D078N6,21,77,15,0.37,1.9e+02,0.005,2.5,31,9.4e+02,73
2,D078N8,39,69,8.1,0.19,87,0.011,2.7,4.6e+02,2.1e+05,18
3,D078N0,18,73,17,0.41,2e+02,0.0047,2.6,4.8e+02,2.3e+05,88

In [64]:
#D078 wet oxygen 375 torr, 30min. Recorded on 191121, dep by Plamen. dim corrected by SEM
display(Markdown('Hero device: D078N5, $R_N = 18k\Omega, E_J = 427mK, E_C = 4.8mK$ \n'))

key =    [ 'Device' , 'RN/al', '#ser', '#par',         'J size','Mat.','dsgn', 'Vo/al','ISW' ,'R0ZF' ,'R0FF' , 'BT' ]
unit=    ['       ' ,   'ohm',   'ea',   'ea',            'm^2',    '',    '',     'V',  'A' , 'ohm' , 'ohm' ,  'K' ]
lst =   [['D078N5'  , 244.6e3,    15 ,      2,  2.23 * 1.73e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D078N6'  ,  10.4e3,     1 ,      2,  2.24 * 1.61e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D078N8'  ,   315e3,    15 ,      2,  1.44 * 1.17e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D078N0'  , 237.5e3,    15 ,      2,  2.28 * 1.69e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan]]
         
Q1Dlst =   pd.DataFrame(  data  = list(zip(*lst)), 
                        columns = [[dev[i] for dev in lst] for i in range(len(lst[0]))][0],
                          index = key ).transpose()
Q1Duni =   dict(zip(key, unit))
JJplst = toJJplst(srclst = Q1Dlst)[0]

with open(r'D078.csv','w') as f:
    JJplst.to_csv(f)
with open(r'D078.csv','r') as f:
    a = pd.read_csv(f).transpose().drop('Unnamed: 0').transpose()
a

Hero device: D078N5, $R_N = 18k\Omega, E_J = 427mK, E_C = 4.8mK$

,Device,RN_JJ,Rs/JJ,I_AB,EJ,C_JJQP,EC,$\omega_p$,Q,beta,EJ/EC
0,D078N5,31,1.2e+02,10,0.25,2e+02,0.0047,2,6.1e+02,3.8e+05,53
1,D078N6,21,77,15,0.37,1.9e+02,0.005,2.5,31,9.4e+02,73
2,D078N8,39,69,8.1,0.19,87,0.011,2.7,4.6e+02,2.1e+05,18
3,D078N0,30,1.2e+02,11,0.26,2e+02,0.0047,2,6e+02,3.6e+05,55

In [6]:
#D079 wet oxygen 375 torr, 30min. Recorded on 191122, dep by Plamen, meas by Plamen
#There was potentail air mixing during oxidation process, which might reduce the oxigen pressure and cause lower oxidation condi. compared to D078 

key =    [ 'Device' , 'RN/al', '#ser', '#par',         'J size','Mat.','dsgn', 'Vo/al','ISW' ,'R0ZF' ,'R0FF' , 'BT' ]
unit=    ['       ' ,   'ohm',   'ea',   'ea',            'm^2',    '',    '',     'V',  'A' , 'ohm' , 'ohm' ,  'K' ]
lst =   [['D079N1'  ,   230e3,     1 ,      2,  .177 * .177e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D079N2'  ,  1710e3,    15 ,      2,  .259 * .164e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D079N3'  ,   490e3,    15 ,      2,  .784 * .263e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D079N4'  ,     0e3,    15 ,      2,  1.55 * 1.04e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D079N5'  ,    75e3,    15 ,      2,  2.25 * 1.74e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D079N6'  ,  2.04e3,     1 ,      2,  2.21 * 1.72e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D079N7'  ,  2100e3,    15 ,      2,  .217 * .221e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D079N8'  ,  51.9e3,    15 ,      2,  1.48 * .977e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D079N9'  ,  1840e3,    15 ,      2,  .230 * .246e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D079N0'  ,  24.4e3,    15 ,      2,  2.21 * 1.67e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan]]
lst =   [['D079N1'  ,   290e3,     1 ,      2,  .177 * .177e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D079N3'  ,   520e3,    15 ,      2,  .784 * .263e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D079N5'  ,    27e3,    15 ,      2,  2.25 * 1.74e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D079N6'  ,  2.15e3,     1 ,      2,  2.21 * 1.72e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D079N0'  ,  24.3e3,    15 ,      2,  2.21 * 1.67e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan]]
         
Q1Dlst =   pd.DataFrame(  data  = list(zip(*lst)), 
                        columns = [[dev[i] for dev in lst] for i in range(len(lst[0]))][0],
                          index = key ).transpose()
Q1Duni =   dict(zip(key, unit))
JJplst = toJJplst(srclst = Q1Dlst)[0]

with open(r'D079.csv','w') as f:
    JJplst.to_csv(f)
with open(r'D079.csv','r') as f:
    a = pd.read_csv(f).transpose().drop('Unnamed: 0').transpose()
a

,Device,RN_JJ,Rs/JJ,I_AB,EJ,C_JJQP,EC,$\omega_p$,Q,beta,EJ/EC
0,D079N1,5.8e+02,23,0.55,0.013,2,0.46,4.6,17,2.8e+02,0.028
1,D079N3,69,16,4.6,0.11,11,0.081,5.6,2.1e+02,4.3e+04,1.4
2,D079N5,3.6,14,89,2.1,2e+02,0.0046,5.8,2e+02,4e+04,4.6e+02
3,D079N6,4.3,17,74,1.8,1.9e+02,0.0048,5.4,14,2e+02,3.7e+02
4,D079N0,3.2,12,99,2.4,1.9e+02,0.0049,6.3,1.8e+02,3.4e+04,4.8e+02

In [68]:
# #DNEW wet oxygen ??? torr, ??min. Recorded on 191122, dep by Plamen, meas by Plamen
# #There was potentail air mixing during oxidation process, which might reduce the oxigen pressure and cause lower oxidation condi. compared to D078 

# key =    [ 'Device' , 'RN/al', '#ser', '#par',         'J size','Mat.','dsgn', 'Vo/al','ISW' ,'R0ZF' ,'R0FF' , 'BT' ]
# unit=    ['       ' ,   'ohm',   'ea',   'ea',            'm^2',    '',    '',     'V',  'A' , 'ohm' , 'ohm' ,  'K' ]
# lst =   [['D079N1'  ,   230e3,     1 ,      2,  .177 * .177e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
#          ['D079N0'  ,  24.4e3,    16 ,      2,  2.21 * 1.67e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan]]
         
# Q1Dlst =   pd.DataFrame(  data  = list(zip(*lst)), 
#                         columns = [[dev[i] for dev in lst] for i in range(len(lst[0]))][0],
#                           index = key ).transpose()
# Q1Duni =   dict(zip(key, unit))
# JJplst = toJJplst(srclst = Q1Dlst)[0]

# with open(r'D079.csv','w') as f:
#     JJplst.to_csv(f)
# with open(r'D079.csv','r') as f:
#     a = pd.read_csv(f).transpose().drop('Unnamed: 0').transpose()
# a

In [4]:
#D059BB dry oxygen 1atm, 2hrs. Recorded on 200304, dep by ws, meas by ws
#This is an ancient device which is 2MOhm chain with Pt-first technology. Revisit for noise level study.

key =    [ 'Device' , 'RN/al', '#ser', '#par',         'J size','Mat.','dsgn', 'Vo/al','ISW' ,'R0ZF' ,'R0FF' , 'BT' ]
unit=    ['       ' ,   'ohm',   'ea',   'ea',            'm^2',    '',    '',     'V',  'A' , 'ohm' , 'ohm' ,  'K' ]
lst =   [['D059BBN1',   745e3,    30 ,      2,  2.00 * 2.00e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D059BBN2',  1950e3,    30 ,      2,  .150 * .150e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan],
         ['D059BBN8',  1780e3,    30 ,      2,  2.00 * 2.00e-12,  'Al', 'x_L',   1e-99,np.nan, np.nan, np.nan,np.nan]]
         
Q1Dlst =   pd.DataFrame(  data  = list(zip(*lst)), 
                        columns = [[dev[i] for dev in lst] for i in range(len(lst[0]))][0],
                          index = key ).transpose()
Q1Duni =   dict(zip(key, unit))
JJplst = toJJplst(srclst = Q1Dlst)[0]

k =  [ 'Device' ,  'Channel', 'R2pb_RT','Rgnd', 'R4pb_RT', 'R4pb_7K']
l = [['D059BBN1', ' 1ab 2ab',  745e3,  114 ,  780e3,  975e3],
     ['D059BBN8', ' 4ba 3ab', 1950e3,  1e6 , 1735e3, 2100e3],
     ['D059BBN2', '11ab12ab', 1780e3, 20e6 , 1585e3, 1915e3]]
Q = pd.DataFrame(columns = k, data = l)
Q1Dlst.merge(Q)

# with open(r'D059BB.csv','w') as f:
#     JJplst.to_csv(f)
# with open(r'D059BB.csv','r') as f:
#     a = pd.read_csv(f).transpose().drop('Unnamed: 0').transpose()
# a

,Device,RN/al,#ser,#par,J size,Mat.,dsgn,Vo/al,ISW,R0ZF,R0FF,BT,Channel,R2pb_RT,Rgnd,R4pb_RT,R4pb_7K
0,D059BBN1,7.4e+05,30,2,4e-12,Al,x_L,1e-99,NaN,NaN,NaN,NaN,1ab 2ab,7.45e+05,1.14e+02,7.80e+05,9.75e+05
1,D059BBN2,2e+06,30,2,2.2e-14,Al,x_L,1e-99,NaN,NaN,NaN,NaN,11ab12ab,1.78e+06,2.00e+07,1.58e+06,1.92e+06
2,D059BBN8,1.8e+06,30,2,4e-12,Al,x_L,1e-99,NaN,NaN,NaN,NaN,4ba 3ab,1.95e+06,1.00e+06,1.74e+06,2.10e+06

In [3]:
toJJplst(srclst = Q1Dlst)[1]

{'Device': '       ',
 'RN_JJ': 'kohm',
 'Rs/JJ': 'kohm',
 'I_AB': 'nA',
 'EJ': 'K',
 'C_JJQP': 'fF',
 'EC': 'K',
 '$\\omega_p$': 'GHz*2pi',
 'Q': '',
 'beta': '',
 'EJ/EC': ''}

In [20]:
toJJplst(srclst = Q1Dlst)[0].transpose().drop('Device').astype(float).transpose()

,RN_JJ,Rs/JJ,I_AB,EJ,C_JJQP,EC,$\omega_p$,Q,beta,EJ/EC
D059BBN1,49.67,203.63,6.44,0.15,205.0,4.53e-03,1.56,1492.38,2.23e+06,33.86
D059BBN2,130.00,3.90,2.46,0.06,1.5,6.20e-01,11.24,206.53,4.27e+04,0.09
D059BBN8,118.67,486.53,2.70,0.06,205.0,4.53e-03,1.01,2306.81,5.32e+06,14.17